<html>
<head>
    <title>Noon's First Blog</title>
</head>

<body>
    <h1>Noon's Blog</h1>
    <div>
            <h2>Who Am I?</h2>
            <p>Published: 24 March 2018</p>
            <p>Hi guys! You can call me Noon for short.</p>
            <p>I'm working at Agoda as Junior Data Analyst in Marketing Team.</p>
    </div>
    <br>
    <div>
            <h2>Where Am I?</h2>
            <p>Published: 24 March 2018</p>
            <p>While I write this blog, I'm at Django girls event, which is one of the coolest events I have ever joined!</p>
            <p>My coach is P'Kelvin</p>
    </div>
</body>
</html>